{%  include "header.html" %}

<div class="row">
    <div class="col-md-4 list-group">

    {% for q in question_list %}

        <a class="list-group-item" href="{{ q.question_number }}">Aufgabe {{ q.question_number }}</a>

    {% endfor %}
    </div>

    {% if question != None %}
    <div class="col-md-8">
    <h2>Aufgabe {{ question.question_number }}</h2>
    {% for a in answers %}

        <pre><code class="python">{{ a.answer_text }}</code></pre>

    {% endfor %}
    </div>
    {% endif %}
</div>

{%  include "footer.html" %}
